.article {
  width: 100%;
  height: 140px;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;

  &__article-info {
    width: 680px;

    & > div {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: #1890ff;
    margin-right: 0.75rem;
  }

  h1 {
    cursor: default;
  }

  a:hover {
    text-decoration: underline;
    color: #1890ff;
  }

  &__like-icon {
    display: flex;
    align-items: center;
    margin-right: 0.25rem;
    background-color: white;
    border: none;
    padding: 0;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__likes {
    cursor: default;
  }

  &__tag-list {
    display: flex;
    flex-flow: row nowrap;
    margin: 5px 0;

    & > li {
      margin-right: 10px;
      font-size: 12px;
      border: 1px solid black;
      border-radius: 2px;
      padding: 0 0.25rem;
      cursor: default;
    }
  }

  &__description {
    font-size: 12px;
    line-height: 20px;
    cursor: default;
    word-wrap: break-word;
  }

  &__profile-info {
    display: flex;
    flex-flow: column;

    & > div:first-child {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      & > div:first-child {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-right: 10px;

        & > span:first-child {
          font-size: 18px;
          cursor: default;
        }

        & > span:last-child {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.5);
          cursor: default;
        }
      }
    }

    & > div:last-child {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      .article__delete,
      .article__edit {
        text-align: center;
        flex-grow: 1;
        border-radius: 5px;
        border: 1px solid;
        padding: 6px 20px;
        font-size: 14px;
        background-color: white;
        cursor: pointer;
      }

      .article__delete {
        margin-right: 10px;
        border-color: #f5222d;
        color: #f5222d;

        &:hover {
          background-color: #f5222d;
          color: white;
        }
      }

      .article__edit {
        border-color: #52c41a;
        color: #52c41a;
        text-decoration: none;

        &:hover {
          background-color: #52c41a;
          color: white;
        }
      }
    }
  }

  &__profile-icon {
    width: 46px;
    height: 46px;

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
}
