.article-form {
  width: 940px;
  margin: 25px auto;
  background-color: white;
  padding: 48px 36px;
  border-radius: 5px;

  .error {
    border: 1px solid red;
  }

  .error-message {
    color: red;
    margin-top: 5px;
    display: block;
    font-size: 14px;
  }

  &__confirm + .error-message {
    position: relative;
    bottom: 15px;
  }

  &__form {
    h1 {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 20px;
      cursor: default;
    }

    label {
      font-size: 14px;
      margin-bottom: 20px;
      display: block;

      input,
      textarea {
        margin-top: 5px;
        padding: 8px 12px;
        border-radius: 5px;
        border: 1px solid #d9d9d9;
        font-size: 16px;

        &::placeholder {
          color: #bfbfbf;
        }
      }

      textarea {
        min-height: 170px;
      }
    }

    hr {
      opacity: 0.3;
    }
  }

  &__confirm {
    display: flex !important;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;

    span {
      flex-grow: 1;
      margin: 5px;
      margin-left: 10px;
    }

    .confirm__input {
      height: 23px;
      width: 23px;
      position: relative;
      cursor: pointer;
    }
  }

  &__tags {
    display: flex;
    flex-flow: row;
    align-items: flex-end;

    button {
      margin-right: 20px;
      padding: 8px 35px;
      background-color: white;
      border: 1px solid #1890ff;
      border-radius: 5px;
      color: #1890ff;
      margin-bottom: 5px;
      cursor: pointer;

      &:hover {
        background-color: #1890ff;
        color: white;
      }
    }

    &-field {
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      align-items: center;

      input {
        width: 300px;
        margin-right: 20px;
      }

      button {
        border-color: #f5222d;
        color: #f5222d;
        margin-bottom: 0;

        &:hover {
          background-color: #f5222d;
        }
      }
    }
  }

  &__submit {
    width: 320px;
    background-color: #1890ff;
    border: 1px solid #1890ff;
    border-radius: 5px;
    padding: 10px 0;
    cursor: pointer;

    &:hover {
      background-color: darken($color: #1890ff, $amount: 10);
    }

    span {
      color: white;
      font-size: 16px;
    }
  }
}
